@media screen and (min-width: 320px) { 
	body {
		background-color:#B9AFB4;
	}
	.container {
		width:100%;
	}
	.heading {
		width:100%;
	}
	.heading h1 {
		text-align:center;
		margin:0;
		margin:3.5em 0 1em 0;
		font-size:2em;
	}
	.search {
		text-align:center;
	}
	.text {
		padding:0.35em;
	} 
	.submit {
		margin-left:0.25em;
		padding:0.4em 0.7em;
	}
	.query {
		margin-top:1em;
	}
	.response {
		text-align:center;
	}
	.ng-scope img {
		height:12em;
		width:90%;
		margin:0.5em;
		border:4px double black;
	}
	.ng-scope img:hover {
		opacity:0.8;
	}
	.photo.ng-enter, .photo.ng-leave {
		transition: all linear 2.5s;
	}
	.photo.ng-enter, .photo.ng-leave.ng-leave-active {
		opacity:0;
		max-height:0;
	}
	.photo.ng-leave, .photo.ng-enter.ng-enter-active {
		opacity:1;
		max-height:12em;
	}
  }
} /*end of 320px screen*/

@media screen and (min-width:480px)  { 
	.heading h1 {
		font-size:2.2em;
	}	
	.text {
		width:18em;
		padding:0.75em;
	}
	.submit {
		margin-left:0.5em;
		padding:0.75em 1.5em;
	}
	.ng-scope img {
		width:44%;
	}
}

@media screen and (min-width:750px) {
	.ng-scope img {
		width:30%;
	}
}